@font-face {
    font-family: coolvetica;
    src: url(./coolvetica.ttf);
}

@font-face {
    font-family: luna;
    src: url(./Luna.ttf);
}

.cool {
    font-family: coolvetica;
}

html {
    font-family: sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

a {
    text-decoration: none;
}

a:link {
  color: #231f20;
  text-decoration: inherit; /* no underline */
}


a:hover {
    color: #a00;
    text-decoration: inherit;
}

a:visited {
    text-decoration: inherit;
}

h1 {
    margin: 0;
}

h1, h2 {
    padding: 20px 0 10px 0;
    font-family: luna;
}

p {
    font-size: 18px;
    text-align: justify;
    margin: 0 0 60px 0;
}

.text-container {
    width: 720px;
    margin: 40px 0 10px 0;
}

.title-bar {
    height: 100px;
    top: 0;
    right: 0;
    width: 100%;
    position: relative;
    background-color: #231f20;
    color: #eee;
    z-index: 99;
    text-align: center;
}

.solve-button {
    padding: 2px 10px;
    margin: 20px;
    width: 200px;
    height: 40px;
    font-size: 22px;
}

.main-logo {
  width: 280px;
}

.billboard-section {
    padding-top: 150px;
    width: 100%;
    height: 500px;
    background-image: url(../img/coding-facebook.png);
    background-size: cover;
    background-attachment: fixed;
}

.about-box {
    padding: 20px; 
    display: inline-block;
}

.about-box h1,
.about-box p {
    width: 100%;
    margin: 60px 0;
}

.first-section {
    padding: 20px;
}

.first-section h1 {
    /*color: #ed1c24;*/
    font-weight: bold;
}

.second-section {
    background-color: #ed1c24;
    min-height: 200px; 
    color: #fff;
    padding: 20px;
}

.stats {
    width: 320px;
    text-align: left;
}

.stats input {
    width: 100%;
}

.third-section {
    background-image: url(../img/coding-bg.png);
    min-height: 460px;
    color: #fff;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   

.ad-container {
    height: 100px;
    background-color: #231f20;
    padding: 10px 0 0 0;
}

#footer-section {
    min-height: 200px;
    padding: 40px;
    background-color: #231f20;
    color: #fff;
}

.social-media-icon {
    margin: 0 20px 0 20px;
}

.centered {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

#container {
}

.square {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin: 2px;
    display: inline-block;
    vertical-align: text-bottom;
}

.queen {
    background-color: #0a0;
}

.attackqueen {
    background-color: #a00;
}

.queen img,
.attackqueen img {
    width: 30px; 
    position: relative;
    top: 10px;
}

.fb-like-container {
    margin: 50px 20px;
}

@media (max-width : 1220px) {

    .fb-like-section,
    .about-section,
    .releases-container,
    .pricing-container,
    .about-company-container,
    .about-me-container {
        max-width: 980px;
        margin: auto;
    }
}

@media (min-width : 1220px) {

    .fb-like-section,
    .about-section,
    .releases-container,
    .pricing-container,
    .about-company-container,
    .about-me-container {
        max-width: 1180px;
        margin: auto;
    }
}