<center>
	<div class="text-container">
		<p>The eight queens puzzle is the problem of placing eight chess queens on an 8×8 chessboard so that no two queens threaten each other. Thus, a solution requires that no two queens share the same row, column, or either diagonal. <a href="https://en.wikipedia.org/wiki/Eight_queens_puzzle" target="_blank">Click here to read more.</a></p>

		<p>Place eight queens on the board such that every queen is safe and not threatened by any other queen or click "Find Solution" to have the computer find a random solution. Safe queens will show up as green and threatened queens will show up as red. Change the size of the board with the slider for varying levels of difficulty!</p>
	</div>

	<div class="stats">
		<h3>Safe Queens: {{ numberQueens }}</h3>
		<h3>Size: {{ boardSize }} x {{ boardSize }}</h3>
		<input type="range" min="4" max="12" step="1" ng-model="boardSize" ng-change="renderBoard(boardSize)">
	</div>
	<br><br>

	<div class="board">
		<div ng-repeat='row in board track by $index' ng-init="rowIndex = $index">
			<span ng-repeat='column in row track by $index' 
				  class="square" 
				  ng-class="{queen: column == 1, attackqueen: column == 2}"
				  ng-click="toggleQueen(rowIndex, $index)">
				<img ng-if="column" src="./img/queen.png">
			</span>
		</div>
	</div>

	<button class="solve-button" ng-click="startTimer(); startGuessing()">Find Solution</button>
	<button class="solve-button" ng-click="clear()">Clear</button>

	<div class="stats">
		<h3>Computer Attempts: {{ numberGuesses }}</h3>
		<h3>Time Taken: {{ timeTaken }} s</h3>
	</div>

	<div class="text-container" style="margin-top: 40px;">
		<p>Source code can be found on github by clicking <a href="https://github.com/kappisan/ChessQueens">here.</a></p>
	</div>

</center>